@{
    ViewData["Title"] = "Home Page";
}

@{
    var publicKey = ViewData["PublicKey"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example web page that is going to call an API (that also happens to be hosted by this process), but 
        this could be an SPA or whatever.</p>
    <p>
        The web app is going to provide a public key to the API, and the API will encrypt the resulting response so 
        that this specific client will be the only thing that can access this data.
    </p>
    <p>
        The response returns a valid `application/encrypted+json` response payload with a value and publicKey property,
        and the JavaScript code surrounding it is expected to decrypt the response with it's temporary key.
    </p>
    <p>
        Server Public Key: @publicKey
    </p>
    <p>
        <button onclick="callApi()">Call API with key</button>
        <button onclick="callApiDH()">Call API with DH</button>
    </p>
</div>

